body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
    background-color: coral;
}

.header-wrapper {
    background-color: rgb(119, 103, 103);
    color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 200px;
    flex-direction: column;
}

.link-wrapper {
    text-decoration: none;
}

.page-links {
    text-decoration: none;
    justify-content: space-around;
    color: black;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.image-main {
    width: auto;
    height: 600px;
    text-align: center;

}