* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
    background-color: coral;
}

h1 {
    font-size: 60px;
    margin: 0
}

h2 {
    font-size: 40px;
    margin: 0
}

header h2 {
    font-weight: 900;
    color: rgb(20, 203, 29);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 40px;
}

.header-wrapper {
    background-color: rgb(115, 120, 120);
    color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 200px;
    flex-direction: column;
}

.link-wrapper {
    text-decoration: none;
    margin-top: 15px;
}

.page-links {
    text-decoration: none;
    justify-content: space-around;
    color: black;
    align-items: center;
    padding: 15px;
    font-size: 30px;
}

.caption {
    font-weight: 900;
    font-size: 35px;
}

.image-main {
    width: auto;
    height: 600px;
    text-align: center;

}

.image-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    position: relative;
}

.image-shift {
    position: relative;
    left: -10%;
}

.shift-right {
    position: relative;
    left: 10%;
}

main,
footer {
    padding: 16px;
}

footer ul {
    list-style: square;
}